.myproject {
  .card {
    .myproject_search {
      .myproject_head {
        h2 {
          font-size: 24px;
          margin-bottom: 16px;
        }
      }

      .myproject_filter-table {
        border: 1px solid $border;
        margin-top: 1rem;
        border-radius: 14px;

        .myproject_filter {
          padding: 10px;

          .myproject_filter-input {
            .myproject_input {
              padding: 10px;
              width: 100%;
              border: 1px solid $border;
              border-radius: 0.5rem;
            }
          }
        }

        .myproject_table {
          .MuiTableCell-head {
            border-top: 1px solid $border;
            border-bottom: 1px solid $border !important;
            font-weight: 600;
          }

          .MuiTableRow-root:last-child .MuiTableCell-root {
            border-bottom: none;
          }

          .myproject_action-buttons {
            display: flex;
            button {
              padding: 5px;
              margin-right: 5px;
              .myproject_icon_close {
                fill: $red;
              }
              .myproject_icon_check {
                fill: $green;
              }
            }
          }
        }
      }
    }
  }
}

.myproject {
  .status {
    padding: 3px 9px;
    display: inline-block;
    border: 1px solid;
    border-radius: 6px;
    font-weight: 500;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .status-medium {
    color: $green;
    border-color: $green;
  }

  .status-high {
    color: $red;
    border-color: $red;
  }

  .status-low {
    color: $orange;
    border-color: $orange;
  }
}
