.login {
  .login_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

    ul {
      position: relative; // To position the sliding background
      display: flex;
      border: 1px solid $blue;
      border-radius: 10px;
      padding: 5px;
      list-style: none;
      margin: 0;
      overflow: hidden;
      margin-bottom: 20px;

      .slide-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 50%; // Adjust width to 50% to cover one option
        background: $blue;
        border-radius: 6px;
        transition: left 0.3s ease; // Smooth transition
      }

      li {
        position: relative; // To ensure li is above the slide-bg
        padding: 5px 20px;
        z-index: 1;
        color: $blue;
        border-radius: 6px;
        cursor: pointer;

        &.active {
          color: $bg-white; // Text color for the active state
        }
      }
    }

    h1 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    label {
      // Your label styles
    }

    input {
      border: 1px solid $text-grey;
      margin-top: 8px;
      background: $bg-white;
    }

    button {
      width: 100%;
      background: $blue;
      padding: 10px 8px;
      color: $bg-white;
      border-radius: 8px;
    }
  }

  .login_img {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 35rem;
    }
  }
}
